# Configuración del entorno
NODE_ENV=development
JWT_SECRET=tu_clave_secreta_jwt

# Configuración de base de datos PostgreSQL
PGUSER=tu_usuario
PGHOST=host_de_bd
PGPORT=5432
PGDATABASE=nombre_bd
PGPASSWORD=tu_password
PGSSL=false
